body{
    margin: 0;
    padding: 0;
}


html { height: 100%; }
body { height: 100%; 
      width: 100%; 
      margin-right: auto; 
      margin-left: auto; 
      }


      #map-canvas {
        height: 75%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 100px
      }
        #map-canvas img {
        max-width: none
      }
/*This formats the button panel for the heat map functions */
      #panel {
        position: absolute;
/*        position absolute puts at the top*/
        top: 20px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

/*This formats the property options panel for the heat map functions */
      .propertyoptions {
        top: 20px;
/*        left: 50%;
        margin-left: -180px;
        z-index: 5;*/        
        background-color: #fff;
        padding: 5px;
        padding-top: 10px;
/*        border: 1px solid #999;*/
      }
     #addresssearchpanel {
        position: absolute;
        top: 5px;
/*        left: 50%;
*/        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }


#map {
    width: 100%;
    height: 100%;
}

#metricspanel {
position: absolute;
z-index: 1000;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
margin-top: 100px;
border-radius: 5px;
padding: 15px;
margin-left: 10px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
width:381px;
}

/*Styling for the hover box info*/ 
.info {
    padding: 6px 30px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 350px;
}

/*.leaflet-control.info {
    margin-top: 500px;
}*/

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.show-heat-row {
    margin-top: 50px;
}

.legend {
    line-height: 18px;
    color: #555;
    width: 225px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    font: 14px/16px Arial, Helvetica, sans-serif;
}

#slider-range, #slider {
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}

.is-nodisplay {
    display:none;
}

.radio {
    margin-left: 30px;
}

.metricspanellabel {
    margin-top: 6px;
}

.show-heat-row {
    margin-top:60px;
}

/*Delete this*/
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}

#x_axis {
        position: relative;
        left: 40px;
        height: 40px;
}